# Node.js
node_modules/

# Logs
logs
*.log

# Dependency directories
pids
*.pid
*.seed
*.pid.lock

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Ignore config files
.DS_Store
Thumbs.db

# Environment variables
.env

# Production build
build/
dist/
